.shop-container {
    margin-top: 1rem;
    width: 85vw;
    margin: 0 auto;
    padding-bottom: 50px;
}


/* .food-container {} */

@media screen and (max-width: 576px) {
    .cart-container {
        order: 1;
    }
    .food-container {
        order: 2;
    }
}