.dynamic-cartitem {
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 7px;
    width: 70%;
}

.dynamic-cartitem img {
    width: 70px;
    height: 70px;
    border-radius: 60px;
}

.dynamic-cartitem h5 {
    margin-left: 15px;
}

.dynamic-cartitem span {
    margin-left: 15px;
}